* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
  height: 100px;
  border: solid black 1px;
  background-color: pink;
}


header,footer, main section:first-child {
  background-color: blue;
}
main section:nth-child(2), main section:last-child {
  background-color: red;
}
